<div class="my-gray container" >
    <!--cabecera-->
    <div class="row">
        <app-navegacion></app-navegacion>
    </div>
  
    <!--cuerpo-->
    <div class="row" style="height: 700px;padding-top: 20px;">
       
      <!--contenido-->
      <div class="col-12" >
          <div style="padding-bottom: 3px;"><p style="font-weight: bold;">Listado de Usuarios</p></div>
        <table id="listUsuarios" class="table" > 
            <thead class="thead-dark">
                <tr  class="table-success">
                    <th scope="col">Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Acciones</th>
                 </tr>
            </thead>
            <tbody>
                <tr *ngFor="let user of usuarios">
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.nombre }}</td>
                    <td>{{ user.apellido }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td><button type="button" class="btn btn-success" [routerLink]="['/UsuarioEdicion', user.id]">Modificar</button>&nbsp;&nbsp;<button class="btn btn-danger" (click)="eliminarUsuario(user.id)">Eliminar</button></td>
                </tr>
                <tr>
                    <td colspan="6" style="width:100%;text-align: right;"><button type="button" class="btn btn-primary" [routerLink]="['/UsuarioEdicion', '']">Nuevo Usuario</button></td>
                </tr>
            </tbody>
            </table>  
      </div>
  
    </div>
  
   <!--pie-->
   <div class="row">
     <app-footer></app-footer>
   </div>
  </div>
   
